.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  p {
    margin: 0;
  }

  .cardIcon {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 50px 0;
    .cardSection {
      background-color: #fff;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 25px;
      
      p:nth-child(4), p:nth-child(2){
          color: var(--subtitle-text);
      }
      span{
        font-size: 22px;
      }

      .iconMala {
        background-color: #eaf1ff;
        border-radius: 20px;
        width: 75px;
        height: 75px;
        padding: 12px;
      }
      .iconRelogio {
        background-color: #ecfdf5ff;
        border-radius: 20px;
        width: 75px;
        height: 75px;
        padding: 12px;
      }
      .iconRelatorios {
        background-color: #fff5e6ff;
        border-radius: 20px;
        width: 75px;
        height: 75px;
        padding: 12px;
      }

      .text {
        font-size: 22px;
        font-weight: 400;
        height: 27px;
        color: var(--dashboard-p);
      }
      .num {
        height: 42px;
        font-size: 42px;
        font-weight: 700;
        color: var(--dashboard-main);
      }
      .info {
        width: 321px;
        height: 27px;
        font-size: 22px;
        font-weight: 400;
        span {
          height: 27px;
          font-size: 22px;
          font-weight: 400;
          color: #10b981ff;
        }
      }
      
    }
  }
  .actionsCard {
    background-color: #fff;
    border-radius: 20px;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;


    h1 {
      height: 51px;
      color: var(--dashboard-main);
      font-size: 42px;
      font-weight: 700;
    }
    p {
      height: 27px;
      color: var(--dashboard-p);
      font-size: 22px;
      font-weight: 400;
    }

    .btnActions {
      height: 120px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding: 20px 0 20px 0;

      .btnIcon {
        display: flex;
        align-items: center;

        .svg {
          width: 30px;
          height: 30px;
          fill: red;
          stroke: red;
        }
    }
    }
  }
}
