.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
 
    .header {
        width: 100%;
        height: 96px;
    }
 
    .cardIcon {
        width: 100%;
        display: flex;
        justify-content: space-evenly; 
        border-radius: 20px;     
        padding: 50px;
        .cardSection {
            border: 1px solid red;
            background-color: #fff;
            width: 421px;
            height: 359px;
            border-radius: 20px;
            padding: 50px;
            
            .iconMala{
                background-color: lightblue;
                border-radius: 20px;
                width: 75px;
                height: 75px;
                padding: 12px;

            }
            .iconRelogio {
                background-color: #ecfdf5FF;
                border-radius: 20px;
                width: 75px;
                height: 75px;
                padding: 12px;
            }
            .iconRelatorios {
                background-color: #fff5e6FF;
                border-radius: 20px;
                width: 75px;
                height: 75px;
                padding: 12px;
            }

            .text {
                font-size: 22px;
                font-weight: 400;
                height: 27px;
                color: var(--dashboard-p)
            }
            .num {
                height: 51px;
                font-size: 42px;
                font-weight: 700;
                color: var(--dashboard-main)
            }
            .info {
                width: 321px;
                height: 27px;
                font-size: 22px;
                font-weight: 400;
                span {
                    height: 27px;
                    font-size: 22px;
                    font-weight: 400;
                    color: #10b981FF;
                }    
            }
            .infoRelatorios {
                width: 321px;
                height: 27px;
                font-size: 22px;
                font-weight: 400;
                span {
                    height: 27px;
                    font-size: 22px;
                    font-weight: 400;
                    color: #f59e0bFF;;
                }    
            }
        }
    }
    .actionsCard{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border-radius: 20px;
    }
 
}