.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .searchContainer {
        display: flex;
        justify-content: center;
        height: 100%;
        gap: 25px;
        input {
            width: 620px;
            height: 30px;
            border-radius: 20px;
            border: 1px solid #ecedec;
        }
        input[placeholder] {
            padding-left: 20px;
        }
        Button{
            height: 30px;
        }
    }
    .rightIcon {
        width: 210px;
        display: flex;
        justify-content: space-evenly;

    }
}