:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-register-button: #f9f9fd;
  --background-login-button: #f9f9fd;
  --border-input: #ecedec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
