:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-login: #f9f9fd;
  --border-input: #ecedec;

  --primary-button: #7361ed;
  --login-text: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
